body {
 background-color: FFF;
 font-family: Lato,Roboto,Helvetica,Arial,sans-serif;
}

.containerlogo {
  width: 120px;
  height:auto;
}

.logo {
  border-right: 1px solid #ddd;
  padding: 10px;
  align-items: center;
  width: 90px;
  height: 122px;
}
.pronouns{
  font-family: Lato,Roboto,Helvetica,Arial,sans-serif;
  color: #aaaaaa;
  font-size: 14px;
}

.button{
  width:600px;
  border-bottom: 1px solid #ddd;
}

.button img {
  height: 25px;
  padding: 3px;
}

.info{
  width:inherit;
  text-align: left;
  margin-top: 5px;
  font-weight: 200;
  color: #aaaaaa;
}
